<html>
<head>
    <title>Gcode Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/picnic.css">
</head>
<body>
    <main id="main" class="content">
        <h1>Gcode Controller</h1>
        <div v-if="!connected">
            <div class="third">
                <h4 class="stack">Connect to Device</h4>
                <input class="stack" v-model="port" placeholder="Port" />
                <input class="stack" v-model="baudRate" placeholder="Baud Rate" />
                <button v-on:click="connect" class="stack">Connect</button>
            </div>
        </div>

        <div v-if="connected">
            <article class="card">
                <header>
                    <h4>State</h4>
                </header>
                <section>
                    Port: <b>{{port}}</b><br />
                    Baud Rate: <b>{{baudRate}}</b><br />
                    Machine State: <b>{{state}}</b><br />
                    File: <b>{{job.fileName}}</b><br />
                    <progress max="100" :value="job.percentage" /><span>{{job.percentage}}%</span> <br />
                </section>
                <footer>
                    <button :disabled="!(job.state === 2 || job.state === 3)" title="Pause Job" @click="pauseJob">❚❚</button>
                    <button :disabled="job.state !== 2" title="Stop Job" @click="stopJob">🛑</button>
                </footer>
            </article>

            <article class="card">
                <section>
                    <div class="tabs three">
                        <input id='tab-1' type='radio' name='tabgroupB' checked />
                        <label class="pseudo button toggle" for="tab-1">📁 Files</label>
                        <input id='tab-2' type='radio' name='tabgroupB'>
                        <label class="pseudo button toggle" for="tab-2">🏃‍ Jog</label>
                        <input id='tab-3' type='radio' name='tabgroupB'>
                        <label class="pseudo button toggle" for="tab-3">💻 Console</label>
                        <div class="row">

                            <div>
                                <button @click="onPickFile">Upload File</button>
                                <input type="file"
                                       style="display: none"
                                       ref="fileInput"
                                       @change="onFilePicked" />

                                <table class="primary">
                                    <tbody>
                                        <tr v-for="file in files">
                                            <td>
                                                <button class="pseudo fileActionsButton" @click="deleteFile(file)" title="Delete file">x</button>
                                                <button class="pseudo fileActionsButton" @click="startJob(file)" title="Start Job">▶</button>
                                                {{file}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>

                                <table>
                                    <tr>
                                        <td></td>
                                        <td align="center"><button value="forward" v-on:click="jog($event)">Forward</button></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><button value="left" v-on:click="jog($event)">Left</button></td>
                                        <td align="center">
                                            <input type="number" min="0" max="100" step="1" v-model="xyStep" class="jog-input" />
                                        </td>
                                        <td align="center"><button value="right" v-on:click="jog($event)">Right</button></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="center"><button value="backward" v-on:click="jog($event)">Backward</button></td>
                                        <td></td>
                                    </tr>
                                </table>

                                <input type="number" min="0.001" max="20" step="0.1" v-model="zStep" class="jog-input" />
                                <button value="up" v-on:click="jog($event)">Up</button>
                                <button value="down" v-on:click="jog($event)">Down</button>
                            </div>

                            <div>
                                <textarea class="console" readonly="readonly" cols="340" wrap="off" :value="console"></textarea>
                                <br />
                                <input placeholder="command executes on enter" v-on:keyup.enter="sendCommand($event)" />
                                <br />
                            </div>

                        </div>
                    </div>
                </section>
            </article>
        </div>
    </main>

    <script src="/vue.js"></script>
    <script>
        function fetchOptionsFactory(method, body = null) {
            return {
                method: method,
                headers: {
                    'Content-Type': 'application/json',
                },
                body: body
            }
        }

        function wait(time) {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve();
                }, time);
            });
        }

        const app = new Vue({
            el: '#main',
            data: {
                port: '',
                baudRate: null,
                connected: false,
                log: [],
                xyStep: 5,
                zStep: 0.1,
                files: [],
                job: {
                    fileName: "",
                    percentage: 0,
                    state: 0
                }
            },
            async beforeMount() {
                const response = await fetch('/api/serial', fetchOptionsFactory('GET'));
                const device = await response.json();
                if (device && device.IsOpen) {
                    this.port = device.Port;
                    this.baudRate = device.BaudRate;
                    this.connected = true;
                } else {
                    this.port = localStorage.getItem('port');
                    this.baudRate = localStorage.getItem('baudRate');
                }
                await this.getFiles();
                await this.statusPolling();
            },
            computed: {
                state: function () {
                    switch (this.job.state) {
                        case 0:
                            return 'Stopped';
                        case 1:
                            return 'Stopping';
                        case 2:
                            return 'Running';
                        case 3:
                            return 'Pause';
                        case 4:
                            return 'Complete';
                        default:
                            return 'Unknown';
                    }
                },
                canControl: function () {
                    return this.job.state === 0 || this.job.state === 4;
                },
                console: function () {
                    return this.log.slice().reverse().map(e => {
                        return `${e.timestamp} - ${e.message}\r\n`;
                    });
                }
            },
            methods: {
                connect: async function () {
                    const response = await fetch('/api/serial', fetchOptionsFactory('POST', JSON.stringify({ BaudRate: this.baudRate, Port: this.port })));
                    await response.text();
                    this.connected = response.status === 200;
                    if (this.connected) {
                        localStorage.setItem('port', this.port);
                        localStorage.setItem('baudRate', this.baudRate);
                    }
                },
                sendCommand: async function (e) {
                    const command = e.target.value;
                    e.target.value = '';
                    const response = await fetch('/api/serial', fetchOptionsFactory('PUT', JSON.stringify({ Command: command })));
                    const json = await response.json();
                    this.log.push({ command: json.Command, message: json.Message, timestamp: json.Timestamp });
                    if (this.log.length > 10) {
                        this.log.shift();
                    }
                },
                startJob: async function (file) {
                    const response = await fetch('/api/job', fetchOptionsFactory('POST', JSON.stringify({ Name: file })));
                    await response.text();
                    await wait(500);
                    await this.statusPolling();
                },
                stopJob: async function () {
                    if (confirm(`Stop ${this.job.fileName}?`)) {
                        this.job.status = 1;
                        const response = await fetch('/api/job', fetchOptionsFactory('DELETE'));
                        await response.text();
                        await this.statusPolling();
                    }
                },
                pauseJob: async function () {
                    const response = await fetch('/api/job', fetchOptionsFactory('PUT'));
                    await response.text();
                    await this.statusPolling();
                },
                deleteFile: async function (file) {
                    if (confirm(`Delete ${file}?`)) {
                        const response = await fetch(`/api/files`, fetchOptionsFactory('DELETE', JSON.stringify({ Name: file })));
                        await response.text();
                        await this.getFiles();
                    }
                },
                jog: async function (e) {
                    const buttonValue = e.target.value;
                    let command = '';
                    switch (buttonValue) {
                        case 'backward':
                            command = `Y-${this.xyStep}`;
                            break;
                        case 'forward':
                            command = `Y-${this.xyStep}`;
                            break;
                        case 'left':
                            command = `X-${this.xyStep}`;
                            break;
                        case 'right':
                            command = `X${this.xyStep}`;
                            break;
                        case 'up':
                            command = `Z${this.zStep}`;
                            break;
                        case 'down':
                            command = `Z-${this.zStep}`;
                            break;
                        default:
                    }

                    // TODO adding gcode in the ui seems like a bad idea
                    if (command.length > 0) {
                        const response = await fetch('/api/serial', fetchOptionsFactory('PUT',
                            JSON.stringify({ Command: `G90 ${command}` }
                            )));
                        await response.text();
                    }
                },
                onPickFile() {
                    this.$refs.fileInput.click()
                },
                async onFilePicked(event) {
                    //https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch

                    const files = event.target.files
                    const formData = new FormData();
                    formData.append('gcode_file', files[0]);
                    const response = await fetch('/api/files', {
                        method: 'POST',
                        body: formData
                    });
                    await response.text();
                    await this.getFiles();
                },
                async getFiles() {
                    const filesResponse = await fetch('/api/files', fetchOptionsFactory('GET'));
                    const filesArray = await filesResponse.json();
                    this.files.splice(0, this.files.length);
                    this.files.push(...filesArray);
                },
                async statusPolling() {
                    const response = await fetch(`/api/job?percentage=${this.job.percentage}`, fetchOptionsFactory('GET'));
                    const responseJson = await response.json();
                    this.job.percentage = responseJson.Percentage;
                    this.job.state = responseJson.State;
                    this.job.fileName = responseJson.FileName;

                    //long polling for status if running.
                    if (this.job.state === 2) {
                        await this.statusPolling();
                    }
                }
            }
        });
    </script>
    <style>
        .unstyle {
            list-style: none;
        }

        .jog-input {
            width: 60px;
        }

        main {
            padding: 1%;
            max-width: 800px;
        }

        .fileActionsButton {
            padding: .2em;
            margin: .2em;
        }

        .console {
            resize: vertical;
            width: 98%;
            height: 318px;
            padding: 5px;
            overflow: auto;
            background: #1f1f1f;
            color: #65c115;
            font-size: .7em;
        }
    </style>
</body>
</html>
