<html>
<head>
    <title>Gcode Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/picnic.min.css">
</head>
<body>
    <main id="main" class="content">
        <h1>Gcode Controller</h1>
        <div v-if="!connected">
            <div class="full third-600">
                <h4 class="stack">Connect to Device</h4>
                <input class="stack" list="ports" v-model="port" placeholder="Port" />
                <datalist id="ports">
                    <option v-for="portName in ports">{{portName}}</option>
                </datalist>
                <input class="stack" list="buadrates" v-model="baudRate" placeholder="Baud Rate" />
                <datalist id="baudrates">
                    <option value="9600">
                    <option value="14400">
                    <option value="19200">
                    <option value="38400">
                    <option value="57600">
                    <option value="115200">
                    <option value="230400">
                    <option value="460800">
                </datalist>

                <button v-on:click="connect" class="stack">Connect</button>
            </div>
        </div>

        <div v-if="connected">
            <article class="card">
                <header>
                    <h4>State</h4>
                    <a class="close" @click="disconnect()">&times;</a>
                </header>
                <section>
                    Port: <b>{{port}}</b><br />
                    Baud Rate: <b>{{baudRate}}</b><br />
                    Machine State: <b>{{job.state}}</b><br />
                    File: <b>{{job.fileName}}</b><br />
                    <progress max="100" :value="job.percentage" /><span>{{job.percentage}}%</span> <br />
                </section>
                <footer>
                    <button :disabled="!(job.state === 'Running' || job.state === 'Pause')" title="Pause Job" @click="pauseJob">❚❚</button>
                    <button :disabled="job.state !== 'Running'" title="Stop Job" @click="stopJob">🛑</button>
                </footer>
            </article>

            <article class="card">
                <section>
                    <div class="tabs three">
                        <input id='tab-1' type='radio' name='tabgroupB' checked />
                        <label class="pseudo button toggle" for="tab-1">📁 Files</label>
                        <input id='tab-2' type='radio' name='tabgroupB'>
                        <label class="pseudo button toggle" for="tab-2">🏃‍ Jog</label>
                        <input id='tab-3' type='radio' name='tabgroupB'>
                        <label class="pseudo button toggle" for="tab-3">💻 Console</label>
                        <div class="row">

                            <div>
                                <button @click="onPickFile">Upload File</button>
                                <input type="file"
                                       style="display: none"
                                       ref="fileInput"
                                       @change="onFilePicked" />

                                <table class="primary">
                                    <tbody>
                                        <tr v-for="file in files">
                                            <td>
                                                <button class="pseudo fileActionsButton" @click="deleteFile(file)" title="Delete file">&times;</button>
                                                <button class="pseudo fileActionsButton" @click="startJob(file)" title="Start Job">▶</button>
                                                {{file}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <table>
                                    <tr>
                                        <td></td>
                                        <td align="center"><button value="forward" v-on:click="jog($event)">Forward</button></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><button value="left" v-on:click="jog($event)">Left</button></td>
                                        <td align="center">
                                            <input type="number" min="0" max="100" step="1" v-model="xyStep" class="jog-input" />
                                        </td>
                                        <td align="center"><button value="right" v-on:click="jog($event)">Right</button></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="center"><button value="backward" v-on:click="jog($event)">Backward</button></td>
                                        <td></td>
                                    </tr>
                                </table>

                                <input type="number" min="0.001" max="20" step="0.1" v-model="zStep" class="jog-input" />
                                <button value="up" v-on:click="jog($event)">Up</button>
                                <button value="down" v-on:click="jog($event)">Down</button>
                                <br />
                                <button v-on:click="setHome()">Set XYZ</button>
                                <button v-on:click="goHome()">Home 🏠</button>
                            </div>

                            <div>
                                <textarea class="console" readonly="readonly" cols="340" wrap="off" :value="console"></textarea>
                                <div class="flex two" style="margin:1%;">
                                    <input id="console-input" class="full three-fourth-800" placeholder="command executes on enter" v-on:keyup.enter="sendCommand($event)" />
                                    <button class="full fourth-800 pseudo" @click="clearConsole()" style="margin:0;">Clear</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </article>
        </div>
    </main>

    <script src="/vue.min.js"></script>
    <script src="/index.js"></script>

    <style>
        .unstyle {
            list-style: none;
        }

        .jog-input {
            width: 60px;
        }

        main {
            padding: 1%;
            max-width: 1000px;
        }

        .fileActionsButton {
            padding: .2em;
            margin: .2em;
        }

        .console {
            resize: vertical;
            width: 100%;
            height: 318px;
            padding: 5px;
            overflow: auto;
            background: #1f1f1f;
            color: #65c115;
            font-size: .7em;
        }
    </style>
</body>
</html>
